.item {
  display: flex;
  font-size: 18px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #000;
}

.item span {
  display: block;
}

.icon {
  color: #098574;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
  border-radius: 15px;
}

.icon svg:hover {
  color: #098574;
}

.icon a {
  display: block;
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  border-width: 1px;
  color: #0aa8a7;
}

@media (max-width: 768px) {
  .item {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    gap: 4px;
  }

  .icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .item span {
    font-size: 10px;
  }
}
