.header {
  width: 100%;
  color: #000;
  font-size: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  padding-top: 120px;
  background-image: url("/projets.jpg");
  background-size: cover;
  background-position: center;
  height: 380px;
  margin-bottom: 40px;
  text-align: center; /* Center content */
}

.header h1 {
  margin: 0;
  padding-top: 3rem;
  font-size: 80px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

.header p {
  line-height: 35px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  width: 33%;
  font-family: "Times New Roman", Times, serif;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .header {
    height: 320px;
  }

  .header h1 {
    font-size: 60px;
  }

  .header p {
    font-size: 16px;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 85px;
    height: 300px;
  }

  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 14px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 32px;
  }

  .header p {
    font-size: 12px;
    width: 90%;
  }
}

.section {
  width: 80%;
  margin: 0 auto; /* Center section */
  margin-top: 100px;
}

@media (max-width: 768px) {
  .section {
    width: 95%; /* Reduce width on smaller screens */
    margin-top: 50px;
  }
}
