.header {
  width: 100%;
  color: #000;
  font-size: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  padding-top: 120px;
  background-image: url("/projets.jpg");
  background-size: cover;
  height: 380px;
  margin-bottom: 40px;
}

.header h1 {
  margin: 0;
  padding-top: 3rem;
  font-size: 80px;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-bottom: 70px;
}

.header p {
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  width: 33%;
  margin-left: 500px;
  font-family: "Times New Roman", Times, serif;
}

.section {
  width: 80%;
  margin-left: 163px;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 85px;
    height: 300px;
  }

  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 14px;
    margin-left: 88px;
    line-height: 1;
    width: 56%;
  }
}
